:root {
    --accent1: #960a0d;
    --accent2: #a50c0e;
    --accent3: #860f11;
    --accent4: #a80016;
    --accent5: #d80000;
    --accent6: #f72222;

    --dark-accent-1: rgb(15, 15, 15);
    --dark-accent-2: rgb(20, 20, 20);
    --dark-accent-3: rgb(34, 34, 34);
    --dark-accent-4: rgb(54, 54, 54);

    --dark-accent-border-1: rgb(66, 66, 66);
    --dark-accent-border-2: rgb(82, 82, 82);
    
    --text-color-high: #ffffff;
    --text-color-mid: rgb(187, 187, 187);
    --text-color-low: rgb(138, 138, 138);

    --scroll-width: 6px;
}