.about {
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: center;
    gap: 6px;
    max-width: 800px;
    text-align: center;

    .img-con {
        display: none;
        width: 100%;
        max-width: 400px;
        flex-shrink: 2;

        img {
            width: 100%;
        }
    }

    .info-con {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            margin: 0;
        }

        p {
            font-size: 1em;
            margin: 0 0 10px 0;

            &.find {
                font-size: 1.1em;
            }
        }

        .links {
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: 2px;

            img {
                height: 70px;

                &.spotify {
                    height: 60px;
                }
            }
        }
    }

    @media (max-width: 450px) {
        flex-direction: column;

        .img-con {
            max-width: unset;
        }
    }
}