main.error {
    display: flex;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

    h3 {
        font-size: 2rem;
    }

    h4 {
        margin: 10px 0 0 0;
    }

    img {
        width: auto;
        width: 100%;
        background: url('https://media.tenor.com/KLg7XjZkDpsAAAAi/tool-eye.gif') no-repeat scroll 0 0;
    }

    a {
        margin: 32px 0;
        font-size: 1.3rem;
        color: var(--accent5);

        &:hover {
            color: var(--accent4);
        }
    }
}