.fact-share {
    padding: 0;

    .fact-sec {
        position: relative;
        white-space: pre-line;
        min-height: 100svh;
        padding-top: 50px;
        padding-bottom: 40px;

        .fact-div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            &.background {
                opacity: 0.2;
            }
        }

        .alert {
            z-index: 100;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(22, 22, 22);
            padding: 7px;
            border-radius: 12px;
            width: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            visibility: hidden;

            &.show {
                visibility: visible;
            }

            button {
                margin-top: 10px;
                width: 100%;
                max-width: 100px;
                padding: 5px 3px;
            }

            p {
                font-size: 1.3rem;
                text-align: center;
                margin: 4px 0;
            }

            .preferred-lang {
                color: rgb(199, 199, 199);
                font-size: 1.15rem;
                margin-bottom: 0;
            }

            .lang-con {
                margin: 0 0 10px 0;
                font-size: 1.25rem;
                text-align: center;

                a {
                    color: rgb(255, 58, 58);

                    &.same {
                        color: var(--accent3);
                        cursor: auto;
                        pointer-events: none;
                    }
                }
            }
        }

        .logo-con {
            height: 200px;
            background-image: url("https://i.imgur.com/YIbwBgB.png");
            background-position: center;
            background-size: 101%;
            background-repeat: no-repeat;
            height: 25vw;
            max-height: 210px;
            width: 100%;
            max-width: 1000px;

            margin: 0 auto;
        }

        h2 {
            font-size: clamp(25px, 10vw, 2rem);
            margin: 7px 0 5px 0;
            text-align: center;
        }

        .fact {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-align: center;
            max-width: 800px;
            font-size: clamp(17px, 3vw, 1.35rem);
            padding: 0 6px;
            font-display: block;
        }
    }

    .share-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;

        h3 {
            font-size: 1.45rem;
            margin-top: 5px;
            text-align: center;
        }

        .another-facts {
            font-size: 1.25rem;
            color: white;
            background-color: var(--accent2);
            padding: 12px 20px;
            border-radius: 11px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 4px;
            text-decoration: none;

            outline: 2px solid rgb(126, 126, 126);
            outline-offset: 3px;

            .exit-svg {
                stroke: white;
                height: 1.5rem;
                width: auto;
                flex-shrink: 0;
            }

            &:hover {
                background-color: var(--accent3);
                outline-color: rgb(167, 167, 167);

                &:active {
                    background-color: var(--accent4);
                }
            }
        }
    }
}