.fact-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 20px auto;

    h2 {
        margin: 0 0 30px 0;
        font-size: clamp(18px, 2rem, 50px);
        text-align: center;
    }

    .total-facts {
        color: rgb(199, 199, 199);
        font-size: clamp(14px, 1.1rem, 25px);
        text-align: center;

        svg {
            height: 14px;
            width: auto;
        }

        .count {
            color: white;
            font-weight: 500;
        }

        a {
            white-space: nowrap;
            color: rgb(207, 0, 62);
        }
    }

    .fact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        background-color: rgb(34, 34, 34);
        border-radius: 12px;
        overflow: hidden;
        height: clamp(420px, 90vh, 600px);
        word-wrap: break-word;
        flex-wrap: nowrap;
        box-shadow: 0 0 30px -8px rgba(80, 80, 80, 0.801);

        .fact-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 0;
            height: 100%;
            position: relative;
            overflow: hidden;
            // height: 500px;

            img {
                // height: 100%;
                object-fit: contain;
                position: absolute;
                width: 125%;
                max-width: 500px;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                transition: opacity 250ms;

                &.hidden {
                    opacity: 0;
                    user-select: none;
                    pointer-events: none;
                }
            }
        }

        .did-you-know {
            display: flex;
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            width: 100%;
            font-size: clamp(24px, 2.3rem, 45px);
            background-color: var(--accent1);

            @media (max-width: 500px) {
                font-size: clamp(24px, 1.7rem, 45px);
            }
        }

        p {
            font-family: 'PT Mono', monospace;
            font-size: clamp(14px, 1.05rem, 26px);
            // background-color: black;
            // background-image: url('https://i.imgur.com/s1Jzbcb.jpg');
            // background-position: 0px 0%;
            // background-repeat: no-repeat;
            // background-attachment: fixed;
            // background-size: contain;
            white-space: pre-line;
            margin: 0;
            padding: 5px;
            height: 100%;
            overflow: auto;

            opacity: 1;
            transition: opacity 200ms;

            &.hidden {
                opacity: 0;
            }
        }

        .next-fact {
            padding: 8px;
            color: white;
            font-size: clamp(14px, 1.8rem, 35px);
            width: 100%;
            flex-shrink: 0;
            border-radius: 0;

            @media (max-width: 500px) {
                font-size: clamp(14px, 1.5rem, 35px);
            }
        }
    }

    @media (max-width: 500px) {
        padding: 5px;
    }
}

.fact-form {
    display: flex;
    width: 100%;
}