.fact-main {
    padding: 0;
}

.fact-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
    padding: 10px;
    padding-top: 80px;
    width: 100%;
    margin: 0 auto 20px auto;

    h2 {
        margin: 0 0 30px 0;
        font-size: clamp(18px, 2rem, 50px);
        text-align: center;
    }

    .fact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        background-color: rgb(34, 34, 34);
        border-radius: 12px;
        overflow: hidden;
        height: clamp(420px, 90vh, 600px);
        word-wrap: break-word;
        flex-wrap: nowrap;
        box-shadow: 0 0 30px -8px rgba(80, 80, 80, 0.801);
        position: relative;

        .fact-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 0;
            height: 100%;
            position: relative;
            overflow: hidden;
            // height: 500px;

            img {
                // height: 100%;
                object-fit: contain;
                position: absolute;
                width: 125%;
                max-width: 500px;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                transition: opacity 250ms;

                &.hidden {
                    opacity: 0;
                    user-select: none;
                    pointer-events: none;
                }
            }

            .share-con {
                position: relative;
                height: 0px;
                width: 100%;

                .copied {
                    font-family: var(--montserrat), sans-serif;
                    position: absolute;
                    text-align: right;
                    right: 45px;
                    bottom: 10px;
                    transition: right 200ms, opacity 150ms;
                    opacity: 0;
                    user-select: none;
                    pointer-events: none;
                    max-width: 200px;
                    color: rgb(235, 235, 235);
                    word-wrap: break-word;

                    background-color: rgb(54, 54, 54);
                    border: 2px solid rgb(70, 70, 70);
                    border-radius: 11px;
                    padding: 1px 7px 1px 2px;
                }

                &.copy .copied {
                    right: 60px;
                    opacity: 1;
                }

                .share {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    &:hover,
                    &:active {
                        svg {
                            opacity: 1;
                        }
                    }
    
                    svg {
                        width: 60px;
                        height: auto;
                        stroke: white;
                        opacity: 0.5;
                    }
                }
            }
        }

        .did-you-know {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            width: 100%;
            font-size: 2.3em;
            background-color: var(--accent1);
            min-height: 3.2rem;

            @media (max-width: 500px) {
                font-size: 1.7em;
                min-height: 2.6rem;
            }
        }

        p {
            font-family: var(--inconsolata), var(--montserrat), monospace;
            font-size: clamp(14px, 1.25rem, 26px);
            // background-color: black;
            // background-image: url('https://i.imgur.com/s1Jzbcb.jpg');
            // background-position: 0px 0%;
            // background-repeat: no-repeat;
            // background-attachment: fixed;
            // background-size: contain;
            margin: 0;
            padding: 5px;
            height: 100%;
            overflow: auto;
            word-wrap: break-word;
            white-space: pre-line;

            opacity: 1;
            transition: opacity 200ms;

            &.hidden {
                opacity: 0;
            }
        }

        .next-fact {
            font-family: var(--inconsolata), var(--roboto), sans-serif;
            font-display: block;
            font-size: 2.1em;
            padding: 5px;
            color: white;
            width: 100%;
            flex-shrink: 0;
            border-radius: 0;
            min-height: 3.2rem;

            @media (max-width: 500px) {
                font-size: 1.5rem;
                min-height: 2.6rem;
            }
        }
    }

    @media (max-width: 500px) {
        padding: 5px;
        padding-top: 80px;
    }
}

.fact-form {
    display: flex;
    width: 100%;
}

.total-facts {
    color: rgb(199, 199, 199);
    font-size: clamp(14px, 1.1rem, 25px);
    text-align: center;

    svg {
        height: 14px;
        width: auto;
    }

    .count {
        color: white;
        font-weight: 500;

        &.blur {
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }
    }

    a {
        white-space: nowrap;
        color: rgb(207, 0, 62);
    }
}