.fact-main {
    padding: 0;
}

.fact-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
    padding: 10px;
    padding-top: 80px;
    width: 100%;
    margin: 0 auto 20px auto;

    h2 {
        margin: 0 0 30px 0;
        font-size: clamp(18px, 2rem, 50px);
        text-align: center;
    }

    .fact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        background-color: var(--dark-accent-3);
        border-radius: 12px;
        overflow: hidden;
        height: clamp(420px, 90vh, 600px);
        word-wrap: break-word;
        flex-wrap: nowrap;
        box-shadow: 0 0 30px -8px rgba(80, 80, 80, 0.801);
        position: relative;

        .fact-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 0;
            height: 100%;
            position: relative;
            overflow: hidden;
            // height: 500px;

            img {
                // height: 100%;
                object-fit: contain;
                position: absolute;
                width: 125%;
                max-width: 500px;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                transition: opacity 250ms;

                &.hidden {
                    opacity: 0;
                    user-select: none;
                    pointer-events: none;
                }
            }

            .share-con {
                position: relative;
                height: 0px;
                width: 100%;

                .copied {
                    font-family: var(--montserrat), sans-serif;
                    position: absolute;
                    text-align: right;
                    right: 45px;
                    bottom: 10px;
                    transition: right 200ms, opacity 150ms;
                    opacity: 0;
                    user-select: none;
                    pointer-events: none;
                    max-width: 200px;
                    color: var(--text-color-high);
                    word-wrap: break-word;

                    background-color: var(--dark-accent-4);
                    border: 2px solid var(--dark-accent-border-1);
                    border-radius: 11px;
                    padding: 1px 7px 1px 2px;
                }

                &.copy .copied {
                    right: 60px;
                    opacity: 1;
                }

                .share {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &:hover,
                    &:active {
                        svg {
                            opacity: 1;
                        }
                    }

                    svg {
                        width: 60px;
                        height: auto;
                        stroke: var(--text-color-high);
                        opacity: 0.5;
                    }
                }
            }
        }

        .did-you-know {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            width: 100%;
            font-size: 2.3em;
            background-color: var(--accent1);
            min-height: 3.2rem;

            @media (max-width: 500px) {
                font-size: 1.7em;
                min-height: 2.6rem;
            }
        }

        .fact-text-wrapper {
            position: relative;
            margin: 0;
            height: 100%;
            overflow: auto;
            padding-bottom: 30px;

            .options-wrap {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--dark-accent-2);
                width: 90%;
                height: 80%;
                overflow: auto;
                z-index: 1;
                border: 1px solid var(--dark-accent-border-1);
                border-radius: 12px;
                padding: 10px;

                user-select: none;
                pointer-events: none;
                opacity: 0;
                transition: opacity 200ms;

                .close {
                    display: flex;
                    padding: 0;
                    background-color: transparent;
                    position: absolute;
                    right: 3px;
                    top: 3px;

                    svg {
                        width: 3em;
                        height: 3em;
                        stroke: var(--accent2);
                    }

                    &:hover {
                        svg {
                            width: 3em;
                            height: 3em;
                            stroke: var(--accent5);
                        }
                    }
                }

                &.focused {
                    user-select: unset;
                    pointer-events: unset;
                    opacity: 1;
                }

                .options {
                    h6 {
                        text-align: center;
                        font-size: 1.8em;
                        margin: 0;
                    }

                    .total-match {
                        color: var(--text-color-mid);
                        text-align: center;
                        margin: 0;
                        margin-bottom: 20px;
                        font-size: 1em;

                        span {
                            color: var(--text-color-high);
                        }
                    }

                    .block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        overflow: visible;

                        label {
                            font-size: 1.3em;
                        }

                        input[type="number"],
                        input[type="text"] {
                            font-size: 1.3em;
                            padding: 3px 7px;
                            text-align: center;
                            width: max-content;
                            border-radius: 12px;
                        }

                        input[type="range"] {
                            width: 80%;

                            @media (max-width: 500px) {
                                width: 100%;
                            }
                        }
                    }
                }

                @media (max-width: 500px) {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    border: 0;
                }
            }

            .fact-text {
                font-family: var(--inconsolata), var(--montserrat), monospace;
                font-size: clamp(14px, 1.25rem, 26px);
                // background-color: black;
                // background-image: url('https://i.imgur.com/s1Jzbcb.jpg');
                // background-position: 0px 0%;
                // background-repeat: no-repeat;
                // background-attachment: fixed;
                // background-size: contain;
                margin: 0;
                padding: 5px;
                word-wrap: break-word;
                white-space: pre-line;

                opacity: 1;
                transition: opacity 200ms;

                &.unfocused {
                    user-select: none;
                    pointer-events: none;
                    opacity: 0.5;
                    height: 100%;
                    overflow: hidden;
                }

                &.hidden {
                    opacity: 0;
                }
            }
        }


        .buttons-con {
            display: flex;
            flex-direction: row;
            width: 100%;
            min-height: 3.2rem;
            height: max-content;
            background-color: var(--accent1);
            align-items: center;
            justify-content: center;
            word-break: break-word;

            .btn-fact {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                border-radius: 0;
                padding: 1px;

                &:hover {
                    background-color: var(--accent2);
                }
            }

            .previous-fact {
                background-color: transparent;
                width: 4rem;

                svg {
                    height: auto;
                    width: 100%;
                    max-height: 85%;
                    fill: var(--text-color-high);
                }

                @media (max-width: 300px) {
                    width: 2.5rem;
                }
            }

            .next-fact {
                font-family: var(--inconsolata), var(--roboto), sans-serif;
                font-display: block;
                font-size: 2.1em;
                padding: 5px;
                color: var(--text-color-high);
                border-radius: 0;
                background-color: transparent;
                width: 100%;

                @media (max-width: 500px) {
                    font-size: 1.5rem;
                    min-height: 2.6rem;
                }
            }

            .options {
                width: 4rem;
                background-color: transparent;

                svg {
                    width: 100%;
                    height: auto;
                    max-height: 100%;

                    path {
                        transition: fill 150ms;

                        &.wrench {
                            fill: var(--text-color-high);
                        }
                        &.wrench-shadow {
                            fill: var(--dark-accent-1);
                        }
                    }

                    &.changed {
                        path {
                            &.wrench {
                                fill: var(--dark-accent-3);
                            }
                            &.wrench-shadow {
                                fill: var(--text-color-high);
                            }
                        }
                    }

                    &.opened {
                        path {
                            &.wrench {
                                fill: var(--dark-accent-border-1);
                            }
                            &.wrench-shadow {
                                fill: var(--text-color-high);
                            }
                        }
                    }
                }

                @media (max-width: 300px) {
                    width: 2.5rem;
                }
            }
        }
    }

    @media (max-width: 500px) {
        padding: 5px;
        padding-top: 80px;
    }
}

.fact-form {
    display: flex;
    width: 100%;
}

.total-facts {
    color: var(--text-color-mid);
    font-size: clamp(14px, 1.1rem, 25px);
    text-align: center;

    svg {
        height: 14px;
        width: auto;
    }

    .count {
        color: var(--text-color-high);
        font-weight: 500;

        &.blur {
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }
    }

    a {
        white-space: nowrap;
        color: rgb(207, 0, 62);
    }
}