.find-fact-main {
    .find-sec {
        padding: 60px 6px;
    }

    .query-find-form {
        display: flex;
        justify-content: center;
        
        .query-block {
            display: flex;
            flex-direction: row;
            height: 40px;
            width: 100%;
            max-width: 400px;
            border-radius: 12px;
            overflow: hidden;
            border: 3px solid var(--dark-accent-border-1);

            input {
                font-size: clamp(16px, 6vw, 18px);
                border: 0;
                width: 100%;
            }

            button {
                height: 100%;
                border-radius: 0;

                svg {
                    height: 100%;
                    width: auto;
                    fill: black;
                }
            }

            &:hover {
                border: 3px solid var(--dark-accent-border-2);
            }
        }
    }
}