// @import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700&family=Quicksand:wght@400;500;600;700&family=PT+Mono&display=optional');


:root {
    --accent1: #960a0d;
    --accent2: #a50c0e;
    --accent3: #860f11;
    --accent4: #a80016;
    --accent5: #d80000;
    --accent6: #f72222;
    --dark-accent-1: rgb(15, 15, 15);
    --dark-accent-2: rgb(20, 20, 20);
    --dark-accent-border-1: rgb(66, 66, 66);
    --text-color-high: #ffffff;
    --text-color-mid: rgb(187, 187, 187);
    --text-color-low: rgb(138, 138, 138);

    --scroll-width: 6px;
}

/* Firefox */
* {
    box-sizing: border-box;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #808080 #ffffff00;
    }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: var(--scroll-width);
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    border: 2px solid #ffffff00;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark-accent-1);
    color: white;
    min-height: 100vh;
    font-family: var(--roboto), sans-serif;
}

input,
textarea {
    background-color: rgb(37, 37, 37);
    color: white;
    border: 0;
    border: 3px solid rgb(65, 65, 65);
}

button {
    font-size: clamp(13px, 1rem, 25px);
    border: 0;
    border-radius: 8px;
    user-select: none;
    background-color: var(--accent1);
    color: white;

    &:hover {
        cursor: pointer;
        background-color: var(--accent2);

        &:active {
            background-color: var(--accent3);
        }
    }
}

.tool-font {
    font-family: var(--tool), sans-serif;
    // font-weight: 400;
    font-display: optional;
}

a {
    color: purple;
}

main {
    padding-top: 50px;
    min-height: 100vh;
    min-height: 100svh;
}

table {
    border: 1px solid;
    border-collapse: separate;
}

body {
    @media (hover: hover) {
        &.menu-opened {
            padding-right: var(--scroll-width);
        }
    }

    &.menu-opened {
        overflow: hidden;
    }
}

.unfocus {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.body {
    transition: opacity 250ms;

    &.menu-opened {
        opacity: 0.4;
        pointer-events: none;
        user-select: none;
    }
}