/* Firefox */
* {
    box-sizing: border-box;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #808080 #ffffff00;
    }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: var(--scroll-width);
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    border: 2px solid #ffffff00;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark-accent-1);
    color: var(--text-color-high);
    min-height: 100vh;
    font-family: var(--roboto), sans-serif;
}

input,
textarea {
    background-color: var(--dark-accent-3);
    color: var(--text-color-high);
    border: 0;
    border: 3px solid var(--dark-accent-border-1);
}

button {
    font-size: clamp(13px, 1rem, 25px);
    border: 0;
    border-radius: 8px;
    user-select: none;
    background-color: var(--accent1);
    color: var(--text-color-high);

    &:hover {
        cursor: pointer;
        background-color: var(--accent2);

        &:active {
            background-color: var(--accent3);
        }
    }
}

.tool-font {
    font-family: var(--tool), sans-serif;
    // font-weight: 400;
    font-display: optional;
}

a {
    color: purple;
}

main {
    padding-top: 50px;
    min-height: 100vh;
    min-height: 100svh;
}

table {
    border: 1px solid;
    border-collapse: separate;
}

body {
    @media (hover: hover) {
        &.menu-opened {
            padding-right: var(--scroll-width);
        }
    }

    &.menu-opened {
        overflow: hidden;
    }
}

.unfocus {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.body {
    transition: opacity 250ms;

    &.menu-opened {
        opacity: 0.4;
        pointer-events: none;
        user-select: none;
    }
}