@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --accent1: #960a0d;
    --accent2: #a50c0e;
    --accent3: #860f11;
    --accent4: #a80016;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #808080 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    border: 2px solid #ffffff00;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    color: white;
    min-height: 100svh;
}

input, textarea {
    background-color: rgb(37, 37, 37);
    color: white;
    border: 0;
    border: 3px solid rgb(65, 65, 65);
}

button {
    font-size: clamp(13px, 1rem, 25px);
    border: 0;
    border-radius: 8px;
    user-select: none;
    background-color: var(--accent1);
    color: white;

    &:hover {
        cursor: pointer;
        background-color: var(--accent2);

        &:active {
            background-color: var(--accent3);
        }
    }
}

a {
    color: purple;
}

main {
    padding-top: 60px;
    min-height: 100dvh;
}