nav {
    position: fixed;
    width: 100%;
    height: 50px;
    transition: top 130ms;
    background-color: var(--accent4);
    box-shadow: 0 0 12px -5px black;
    overflow: hidden;
    z-index: 1000;

    .nav-con {
        display: flex;
        position: relative;
        padding: 3px;
        justify-content: center;
        align-items: center;
        height: 100%;

        a {
            text-decoration: none;
            word-break: keep-all;
            white-space: nowrap;
        }

        h1 {
            position: relative;
            top: 4px;
            font-family: tool, sans-serif;
            color: white;
            margin: 0;
            font-weight: 400;
            font-size: 35px;
            display: block;
            font-display: block;

            span {
                display: none;
            }
        }

        .lang-con {
            position: absolute;
            display: flex;
            top: 50%;
            right: 5px;
            transform: translate(0%, -50%);
            object-fit: cover;
            width: 36px;
            height: auto;

            svg {
                height: auto;
                height: 100%;
                width: 100%;
                box-shadow: 0 0 11px -4px rgba(0, 0, 0, 0.753);
            }

            @media (max-width: 300px) {
                display: none;
            }
        }
    }
}