nav {
    position: fixed;
    width: 100%;
    height: 50px;
    transition: top 130ms;
    background-color: var(--accent4);
    box-shadow: 0 0 12px -5px black;
    overflow: hidden;

    .nav-con {
        display: flex;
        position: relative;
        padding: 3px;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
        }

        h1 {
            color: white;
            margin: 0;
            font-size: 35px;
            display: block;

            span {
                display: none;
            }
        }

        .lang-con {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translate(0%, -50%);
            object-fit: cover;
            width: 36px;

            svg {
                height: auto;
                width: 100%;
                box-shadow: 0 0 13px -4px rgba(0, 0, 0, 0.753);
            }
        }
    }
}